@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bgcolor : #1b1f24 ;
    --btnColor : #12bdff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
  
}
header{
    background-color:var(--bgcolor);
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header ul{
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
}

header ul li{
    margin-right: 25px;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    /* justify-content: space-evenly; */
}

header ul li a:hover{
    color: var(--btnColor);
}

header button{
    padding: 10px 20px;
    font-weight: bold;
    background-color: var(--bgcolor);
    border: 1px solid var(--btnColor);
    color: var(--btnColor);
    border-radius: 5px;
}

header button:hover{
    cursor: pointer;
    background-color: var(--btnColor);
    color: white;
}

header .logo{
    color: var(--btnColor);
    font-weight: 700;
    /* font-style: italic; */
    font-size: larger;
    letter-spacing: 2px;

}
header a{
    text-decoration: none;
}


/* Hero Section */




section.Hero-Section{
    background-color: var(--bgcolor);
     color: #fff;
     display: flex;
     align-items: center;
     padding: 20px 40px 0 300px;
     justify-content: space-evenly; 
}

/* Section img{
    
     display: flex;
    justify-content: space-between;
 align-items: left; 
width: 45%;
height: 30%;
} */

.Hero-Section-title{
    font-size: 48px;
    font-weight: 900;
}

.Hero-Section-title span{
    color: var(--btnColor);
} 

.Hero-Section-Desc{
    color: #c4c4c4;
}

.Hero-Section-Button{
    padding: 10px 20px;
    font-weight: bold;
    background-color: var(--bgcolor);
    border: 1px solid var(--btnColor);
    color: var(--btnColor);
    border-radius: 5px;
}

.Hero-Section-Button:hover{
    cursor: pointer;
    background-color: var(--btnColor);
    color: white;
}

.social-icons{
    margin: 20px 0;
}

.social-icons li{
    margin-right: 20px;
}

ul.social-icons{
    list-style: none;
    display: flex;
}

.social-icons li >a{
    text-decoration: none;
    color: #fff;
}

.social-icons li a > i.fa-facebook:hover{
    color: #1877f2;
}

.social-icons li a > i.fa-linkedin:hover{
    color: #0072b1;
}

.social-icons li a > i.fa-instagram:hover{
    color: #feda75;
}

.social-icons li a > i.fa-twitter:hover{
    color: #00acee;
}